<div class="contextual">
  <%= link_to l(:label_assumption_new), { :controller => 'assumptions' , :action => 'add', :project_id => @project}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_assumptions) %></h2>

<%= render :partial => 'pm_dashboards/assumptions/summary' %>
<% if @assumptions.any? %>
  <p></p>
  <%= render :partial => 'pm_dashboards/assumptions/list' %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
