<div class="contextual">
  <%= link_to l(:label_assumption_new), { :controller => 'assumptions' , :action => 'add', :project_id => @project}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_assumptions) %></h2>

<% if @assumptions.any? %>
  <%= render :partial => 'pm_dashboards/assumptions/summary' unless params[:q] %>
  <p><%= link_to l(:label_view_all_assumptions), :controller => 'pm_dashboards', :project_id => @project, :tab => 'assumptions'  if params[:q]  %></p>
  <%= render :partial => 'pm_dashboards/assumptions/list' %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'pm_dashboard', :plugin => 'pm_dashboard' %>
<% end %>
