<table id="pm_dashboard_header">
  <tr>
    <td><span>Client</span><%= @project.client %></td>
    <td><span>Planned Start Date</span><%= @project.planned_start_date.to_s %></td>
    <td><span>Project Manager</span><%= @project.pm_or_ta(@project.proj_manager, @project) %></td>
  </tr>
  
  <tr>
    <td><span>Project Name</span><%= @project.name %></td>    
    <td><span>Planned End Date</span><%= @project.planned_end_date.to_s %></td>    
    <td><span>Technical Architect</span><%= @project.pm_or_ta(@project.tech_architect, @project) %></td>    
  </tr> 
</table>


