<%= render :partial => "dashboard_header" %>

<table id="pm_dashboard_header">
  <tr>
    <td><span>Reporting Period</span><%=  %></td>
    <td><span>Overall Status</span><%=  %></td>
    <td><span>Overall % Complete</span><%=  %></td>  
  </tr>
  
  
  <tr>
    <td><span>Schedule</span><%= %></td>
    <td><span>Cost</span><%= %></td>
    <td><span>Risk</span><%= %></td>
    <td><span>Issue</span><%= %></td>
    <td><span>Production</span><%= %></td>
    <td><span>Efficiency</span><%= %></td>
    <td><span>Billability</span><%= %></td>
  </tr>
</table>  

  <div class="singleCol">
    <div class="box">
      <h3><%=l(:label_dashboard_highlights)%></h3>   
    </div>
    
    <div class="box">
      <h3><%=l(:label_dashboard_events)%></h3>
    </div>
  </div>   
  
  <div class="singleCol">
    <div class="box">
      <h3><%=l(:label_dashboard_status_as_of)%></h3>
      
      <table id="pm_dashboard_financial" class="list issues" style='text-align: center; '>
	      <tr>
	        <th><%= l(:label_billing_model) %></th>
	        <th><%= l(:label_time_material) %></th>
	      </tr>
	      <tr>
	        <th><%= l(:label_budget_amount) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_contingency_amount) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_total_budget) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_budget_cumulative) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_actuals_cumulative) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_variance_amount) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_variance_percent) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_variance_at_complete) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_vac) %></th>
	        <td></td>
	      </tr>	      
      </table>
      
    </div>

    <div class="box">
      <h3><%=l(:label_dashboard_risks)%></h3> 
      <ul>
      <% for risk in @key_risks %>    
        <li><%= risk.risk_description %></li>
      <% end %>
      </ul>
    </div>
      
    <div class="box">
      <h3><%=l(:label_dashboard_billability)%></h3>
    </div>
  </div>   
  
  <div class="singleCol">
    <div class="box">
      <h3><%=l(:label_dashboard_milestones)%></h3>
       <table id="pm_dashboard_milestones" class="list issues" style='text-align: center; '>
	      <tr>
	        <th><%= l(:label_actual_start_date) %></th>
	        <td></td>
	        <th><%= l(:label_actual_finish_date) %></th>
	        <td></td>
	      </tr>
	      <tr>
	        <th><%= l(:label_phases_stages) %></th>
	        <th><%= l(:label_orig_target_date) %></th>
	        <th><%= l(:label_latest_replan_date) %></th>
	        <th><%= l(:label_schedule_status) %></th>
	      </tr>
		    <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td></td>
	      </tr>
      </table>
    </div>

    <div class="box">
      <h3><%=l(:label_dashboard_issues)%></h3>
      <ul>
      <% for issue in @key_issues %>    
        <li><%= issue.issue_description %></li>
      <% end %>
      </ul>
    </div>
    
    <div class="box">
      <h3><%=l(:label_dashboard_sprint)%></h3>
    </div>
  </div>

