<div class="contextual">
  <%= link_to "New Issue", {:controller =>'pm_dashboard_issues', :action => 'add', :project_id => @project}, :class => 'icon icon-add' %>
</div>

<h2>Issues</h2>

<% if @issues.any? %>
  <%= render :partial => 'pm_dashboards/pm_dashboard_issues/summary' unless params[:q] %>
  <p><%= link_to l(:label_view_all_project_issues), :controller => 'pm_dashboards', :project_id => @project, :tab => 'issues'  if params[:q]  %></p>
  <%= render :partial => 'pm_dashboards/pm_dashboard_issues/list' %>
<% else %>
  <p class="nodata" colspan='9'><%= l(:label_no_data) %></p>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'pm_dashboard', :plugin => 'pm_dashboard' %>
<% end %>



