<div class="box" id="fixed_cost_box">
  <h3 style="float: left"><%=l(:label_dashboard_status)%></h3>
  <div style="float: right; font-size:8pt; padding:2px; color:#666666;">
    <a href="#" onclick="jQuery('#processing_gif_fixed').show().text('Enqueuing job...'); $('fixed_cost_form').request({
                                            parameters: { 'project_id': '<%= @project.id %>', 'refresh': 'true' }
                                            });" title="Refresh" style="display:none;", class="contextual">
      <%= image_tag('reload.png') %>
    </a>
    <% if @fixed_cost %>
    <span id="updated_at" class="contextual">
      <% last_update = @fixed_cost['updated_at'] %>
      <%= "as of #{last_update.strftime('%b %d, %Y %I:%M %p')}" if last_update %>
    </span>
    <% end %>
  </div>
  <div style="clear: both"></div>
  <span id="dashboard_cost_monitoring">
  <div id="processing_gif_fixed" class="flash notice"></div>
 
  <% if !@fixed_cost.nil? && !@fixed_cost.empty? %>
    <%= render :partial => "project_billability/cost_monitoring_dashboard" %>
  <% else %>
    <p class="nodata"><%= image_tag('loading.gif') %> Writing new data into file...</p>
  <% end %>

  <% if @job.nil? %>
    <script type="text/javascript">
      jQuery("#processing_gif_fixed").hide();
      jQuery("#dashboard_cost_monitoring").parent().find("a").show();
    </script>
  <% else %>
    <script type="text/javascript">
      jQuery("#processing_gif_fixed").text("Job has been enqueued.");
      jQuery("#dashboard_cost_monitoring").parent().find("a").hide();
      setTimeout(function(){
        $('fixed_cost_form').request({
          parameters: {
            'project_id': '<%= @project.id %>',
            'job_id' : '<%= params[:job_id] ? params[:job_id] : @job.id %>'
          }
        });
      }, 15000);
    </script>
  <% end %>
  <form id="fixed_cost_form" method="POST" action="/pm_dashboards/reload_fixed_cost">
  </form>

  </span>
</div>
