<div class="box" id="billability_box">
  <h3 style="float: left"><%=l(:label_dashboard_billability)%></h3>
  <div style="float: right; font-size:8pt; padding:2px; color:#666666;">
    <a href="#" onclick="jQuery('#processing_gif_tandm').show().text('Enqueuing job...'); $('billability_form').request({
                                            parameters: { 'project_id': '<%= @project.id %>', 'refresh': 'true' }
                                            });" title="Refresh" style="display:none;", class="contextual">
      <%= image_tag('reload.png') %>
    </a>
    <span id="updated_at" class="contextual">
      <% last_update = @billability['updated_at'] %>
      <%= "as of #{last_update.strftime('%b %d, %Y %I:%M %p')}" if last_update %>
    </span>
  </div>
  <div style="clear: both"></div>
  <span id="dashboard_billability">
  <div id="processing_gif_tandm" class="flash notice"></div>

  <% if !@billability.nil? && !@billability.empty? %>
    <%= render :partial => "project_billability/billability_dashboard" %>
  <% else %>
    <p class="nodata"><%= image_tag('loading.gif') %> Writing new data into file...</p>
  <% end %>

  <% if @job.nil? %>
    <script type="text/javascript">
      jQuery("#processing_gif_tandm").hide();
      jQuery("#dashboard_billability").parent().find("a").show();
    </script>
  <% else %>
    <script type="text/javascript">
      jQuery("#processing_gif_tandm").text("Job has been enqueued.");
      jQuery("#dashboard_billability").parent().find("a").hide();
      setTimeout(function(){
        $('billability_form').request({
          parameters: {
            'project_id': '<%= @project.id %>',
            'job_id' : '<%= params[:job_id] ? params[:job_id] : @job.id %>'
          }
        });
      }, 15000);
    </script>
  <% end %>
  <form id="billability_form" method="POST" action="/pm_dashboards/reload_billability">
  </form>

  </span>
</div>
