
<% @versions.each do |t| %>
<p>
<table>
	<tr>
		<th>Version Name</th>
		<td><em><%= t.name %></em></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= t.description %></td>
	</tr>
	<tr>
		<th><b>Wiki Page</b></th>
		<td><%= t.wiki_page_title %></td>
	</tr>
	<tr>
		<th>Original Date</th>
    <td><%= t.original_date %></td>
  </tr>
  <tr>
  	<th>Start Date</th>
    <td><%= t.started_date %></td>
  </tr>
  <tr>
  	<th>Effective Date</th>
    <td><%= t.effective_date %></td>
    </tr>
  </tr>
</table>

		<%= link_to l(:button_edit), :controller => 'milestone_plans', :action => 'update', :project_id => @project, :version_id => t  %>
</p>
<% end %>