<%= render :partial => "dashboard_header" %>

<h4>Project Definition </h4>
<% if !@project.description.nil? %>
  <p class="indent"><%= @project.description %></p>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<h4>Project Scope</h4>
<% if !nil.nil? %>
  <p class="indent"></p>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<h4>Project Sponsor/Stakeholders</h4>
<% if @stakeholders.any? %>
  <%= render :partial => 'pm_dashboards/project_info/stakeholders' %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<h4>Project Team: </h4>
<% if @members.any? %>
  <table class="list">
  <tr>
  <th>Name</th>
  <th>Position</th>
  <th>Role</th>
  <th>Email Address</th>
  <th>Hand Phone #</th>
  <th>Office #</th>
  <th>Rate</th>
  <th>Billable?</th>
  <th>Remarks</th>
  </tr>
  <%= proj_team %>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

