<style>
  p{
     margin: 2em;
     padding: 0px 10px;
     text-align: justify;
   }
</style>

<%= javascript_include_tag 'select_list_move' %>

<h2> Project Info </h2>
<div id="info_<%= @project.id %>">

<div class="contextual">
    <%= link_to_remote "Update", {:url => { :controller => 'project_info' , 
                                  :action => 'update', :project_id => @project}, 
                                  :update => "info_#{@project.id}", :complete => "new Effect.Highlight('info_#{@project.id}')"}, 
                                  :class => 'icon icon-edit' %>
</div>

<div class="clear"> </div>

 <%= render :partial => "dashboard_header" %>

  <h4>Project Definition </h4>
  <% if !@project.description.nil? %>
    <%= textilizable(@project, :description) %>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>

  <h4>Project Scope</h4>
  <% if !@project.scope.nil? %>
    <%= textilizable(@project, :scope) %>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>

<h4>Project Sponsor/Stakeholders</h4>
<%= render :partial => "pm_dashboards/project_info/proj_info_lists", 
           :locals => {:classification => "Stakeholders", :members => @stakeholders} %>

<h4>Project Team </h4>

<%= render :partial => "pm_dashboards/project_info/proj_info_lists", 
           :locals => {:classification => "Project Team", :members => @proj_team} %>

