<%= render :partial => "dashboard_header" %>

<h4>Project Definition </h4>
<% if !@project.description.nil? %>
  <p class="indent"><%= @project.description %></p>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<h4>Project Scope</h4>
<% if !@project_scope.nil? %>
  <p class="indent"><%= @project_scope_value %></p>
  <% if @project_scope_value.to_s.eql? "" %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
<% else %>
  <p class="nodata">
    "Project Scope" Field is not yet added in the Projects Custom Field.
    <% if User.current.admin? %>
      To add it, click <%= link_to "here", {:controller => 'custom_fields', 
                            :action => 'new', :type => 'ProjectCustomField'} %>
    <% else %>
      Please contact admin to add the "Project Scope" in Administration > Custom Fields > Projects.
    <% end %>
  </p>
<% end %>

<h4>Project Sponsor/Stakeholders</h4>

<%= render :partial => "pm_dashboards/project_info/proj_info_lists", 
           :locals => {:classification => "Stakeholders", :members => @stakeholders} %>

<h4>Project Team </h4>

<%= render :partial => "pm_dashboards/project_info/proj_info_lists", 
           :locals => {:classification => "Project Team", :members => @proj_team} %>

