<%= render :partial => "dashboard_header" %>

<h4>Project Definition </h4>
<% if !@project.description.nil? %>
  <p class="description indent"><%= @project.description %></p>
<% else %>
  <p class="description nodata"><%= l(:label_no_data) %></p>
<% end %>

<h4>Project Scope</h4>
<% if !@project.scope.nil? %>
  <p class="indent"><%= @project.scope %></p>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<h4>Project Sponsor/Stakeholders</h4>

<%= render :partial => "pm_dashboards/project_info/proj_info_lists", 
           :locals => {:classification => "Stakeholders", :members => @stakeholders} %>

<h4>Project Team </h4>

<%= render :partial => "pm_dashboards/project_info/proj_info_lists", 
           :locals => {:classification => "Project Team", :members => @proj_team} %>

