<div class="contextual">
  <%= link_to l(:label_risk_new), { :controller => 'risks' , :action => 'add', :project_id => @project}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_risk_plural) %></h2>

<% if @risks.any? %>
  <%= render :partial => 'pm_dashboards/risks/summary' unless params[:q] %>
  <p><%= link_to l(:label_view_all_risks), :controller => 'pm_dashboards', :project_id => @project, :tab => 'risks'  if params[:q]  %></p>
  <%= render :partial => 'pm_dashboards/risks/list' %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'pm_dashboard', :plugin => 'pm_dashboard' %>
<% end %>
