<div class="contextual">
  <%= link_to l(:label_risk_new), { :controller => 'risks' , :action => 'add', :project_id => @project}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_risks) %></h2>

<p><%= link_to l(:label_view_all_risks), :controller => 'pm_dashboards', :project_id => @project, :tab => 'risks'  if params[:risk]  %></p>
 
<% if @risks.any? %> 
  <%= render :partial => 'pm_dashboards/risks/summary' %>
  <p></p>
  <%= render :partial => 'pm_dashboards/risks/list' %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
