<%= render :partial => 'common/header' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag('jstoolbar/jstoolbar') %>
  <%= javascript_include_tag('jstoolbar/textile') %>
  <%= javascript_include_tag("jstoolbar/lang/jstoolbar-#{current_language}") %>
  <%= javascript_include_tag 'jquery.jqplot.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.canvasAxisLabelRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.canvasTextRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.cursor.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.highlighter.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.barRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.categoryAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.pointLabels.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'chart.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'billability_chart.js', :plugin => 'pm_dashboard' %>
  <%= javascript_include_tag 'cost_chart.js', :plugin => 'pm_dashboard' %>
<% end %>


  <table id="pm_dashboard_header">
    <%= render :partial => "pm_dashboards/dashboard_header" %>
    <tr>
      <td><span>Overall Status</span><%=  %></td>
      <td><span>Reporting Period</span><%= @highlights[:current].created_at.strftime("%Y-%m-%d") if @highlights[:current] %></td>
      <td><span>Overall % Complete</span><%=  %></td>
    </tr>
    
    <tr>
      <td><span>Schedule</span><%= %></td>
      <td><span>Cost</span><%= %></td>
      <td class="<%= risk_rating_color_code(risk_rating=compute_risk_average(@project)) %>"><span>Risk</span><%= risk_rating %></td>
      <td class="<%= issue_impact_color_coding((issues_score=display_issues_average).to_f) %>"><span>Issue</span><%= issues_score %></td>
      <td><span>Production</span><%= %></td>
      <td><span>Efficiency</span><%= %></td>
      <td><span>Billability</span><%= %></td>
    </tr>
  </table>
  
  <div class="singleCol">
    <div id='highlights_summary'>
      <%= render :partial => 'highlights/dashboard' %>
    </div>
  </div>
    
  <div class="singleCol">
    <div class="box">
      <h3><%=l(:label_dashboard_status_as_of)%></h3>
      <span id="dashboard_cost_monitoring">
        <%= render :partial => "project_billability/cost_monitoring_dashboard" %>
      </span>
    </div>

    <div class="box">
      <h3><%=l(:label_dashboard_risks)%></h3> 
      <ul>
      <% for risk in @key_risks %>    
        <li><%= risk.risk_description %></li>
      <% end %>
      </ul>
    </div>
      
    <div class="box">
      <h3><%=l(:label_dashboard_billability)%></h3>
      <span id="dashboard_billability">
        <%= render :partial => "project_billability/billability_dashboard" %>
      </span>
      <div id="bchart"></div>
    </div>
  </div>
  
  <div class="singleCol">
    <div class="box">
      <h3><%=l(:label_dashboard_milestones)%></h3>
       <table class="list issues" style='text-align: center; '>
	      <tr>
	        <th><%= l(:label_actual_start_date) %></th>
	        <td><%= @project.actual_start_date %></td>
	        <th>Actual End Date</th>
	        <td><%= @project.actual_end_date %></td>
	      </tr>
      </table>
      <table id="pm_dashboard_milestones" class="list issues" style='text-align: center; '>
	      <tr>
	        <th><%= l(:label_phases_stages) %></th>
	        <th><%= l(:label_orig_target_date) %></th>
	        <th><%= l(:label_latest_replan_date) %></th>
	        <th><%= l(:label_schedule_status) %></th>
	      </tr>
	      
	      <% @milestones.each do |milestone| %>
		    <tr class="<%= cycle('even2', 'odd2') %>">
	        <td><em><%= milestone.name %></em></td>
	        <td><%= milestone.original_date %></td>
	        <td><%= milestone.started_date %></td>
	        <td><%= Milestone::STATES.rassoc(milestone.state).first if milestone.state %></td>
	      </tr>
	      <% end %>
      </table>
    </div>

    <div class="box">
      <h3><%=l(:label_dashboard_issues)%></h3>
      <ul>
      <% for issue in @key_issues %>    
        <li><%= issue.issue_description %></li>
      <% end %>
      </ul>
    </div>
    
    <div class="box">
      <h3><%=l(:label_dashboard_sprint)%></h3>
      <div id="jchart"></div>
      <div id="show_burndown_chart">
      <% form_remote_tag(:url => {:action => 'load_chart', :chart => 'burndown_chart'}) do %>
        <%= submit_tag "Show Graph", :class => 'btn_show_chart', :onclick => "this.value = 'Loading...'" %>
      <% end %>
      </div>
    </div>
  </div>
  

