<% content_for :header_tags do %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'jquery', :plugin => 'pm_dashboard' %>
  <%= javascript_include_tag 'pm_dashboard', :plugin => 'pm_dashboard' %>
  <%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'redmine_burndown' %>
<% end %>

<%= include_calendar_headers_tags %>
<%= javascript_include_tag('jstoolbar/jstoolbar') %>
<%= javascript_include_tag('jstoolbar/textile') %>
<%= javascript_include_tag("jstoolbar/lang/jstoolbar-#{current_language}") %>
<%= heads_for_wiki_formatter %>

<% html_title 'Project Management Dashboard' -%>
<style>
  table#pm_dashboard_header tr td span {
    font-weight: bold;
    display: inline-block;
    width: 200px;
    text-align: right;
    padding-right: 10px
  }
  
  table#pm_dashboard_header tr td span:after { content: ":" }

  pm_dashboard_header { width: 75% }

</style>

<h2>Project Management Dashboard</h2>

<% tabs = pm_dashboard_tabs %>
<% selected_tab = params[:tab] ? params[:tab].to_s : tabs.first[:name] %>

<div class="tabs">
<ul>
<% tabs.each do |tab| -%>
    <li><%= link_to (tab[:label]), {:project_id => @project,  :tab => tab[:name] },
                                    :id => "tab-#{tab[:name]}",
                                    :class => (tab[:name] != selected_tab ? nil : 'selected'),
                                    :onclick => "showTab('#{tab[:name]}'); this.blur(); return false;" %></li>
<% end -%>
</ul>
</div>

<% tabs.each do |tab| -%>
<%= content_tag('div', render(:partial => tab[:partial]),
                       :id => "tab-content-#{tab[:name]}",
                       :style => (tab[:name] != selected_tab ? 'display:none' : nil),
                       :class => 'tab-content') %>
<% end -%>

<%= javascript_include_tag 'jquery.jqplot.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasAxisLabelRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.canvasTextRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.cursor.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.highlighter.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.barRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.categoryAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'plugins/jqplot.pointLabels.min.js', :plugin => 'redmine_burndown' %>
<%= javascript_include_tag 'billability_chart.js', :plugin => 'pm_dashboard' %>
<%= javascript_include_tag 'cost_chart.js', :plugin => 'pm_dashboard' %>
<script type="text/javascript">
  var isplotted = false;
  jQuery(document).ready(function(){
    if (jQuery("#bchart2").length > 0){
      jQuery("#bchart2").empty();
      plot_chart("bchart2", [<%= PmDashboard.billability_percent_per_week %>]);
    }
    
    jQuery("#tab-billability").click(function(){
      if(!isplotted){
        plot_chart("bchart1", [<%= PmDashboard.billability_percent_per_week %>]);
        isplotted = true;
      }
    });
    
    if (jQuery("#bar_chart").length > 0){
      jQuery('#bar_chart').empty();
      plot_cost("bar_chart", [<%= @cost_budget %>,<%= @cost_forecast%>,<%= @cost_actual%>]);
    }
  });
</script>
