<%= render :partial => 'common/header' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery.jqplot.css', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag('jstoolbar/jstoolbar') %>
  <%= javascript_include_tag('jstoolbar/textile') %>
  <%= javascript_include_tag("jstoolbar/lang/jstoolbar-#{current_language}") %>
  <%= javascript_include_tag 'jquery.jqplot.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.barRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.canvasAxisLabelRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.canvasAxisTickRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.canvasTextRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.categoryAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.cursor.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.highlighter.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.pieRenderer.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'plugins/jqplot.pointLabels.min.js', :plugin => 'redmine_burndown' %>
  <%= javascript_include_tag 'billability_chart.js', :plugin => 'pm_dashboard' %>
  <%= javascript_include_tag 'burndown_chart.js', :plugin => 'pm_dashboard' %>
  <%= javascript_include_tag 'cost_chart.js', :plugin => 'pm_dashboard' %>
<% end %>

<div class="zero_wrap">
  <table id="pm_dashboard_header">
    <%= render :partial => "pm_dashboards/dashboard_header" %>
    <tr>
      <td><span>Overall Status</span></td>
      <td class="value"><%=  %></td>
      <td><span>Reporting Period</span></td>
      <% highlight =  (@highlights[:current] || @highlights[:after_current] || @highlights[:posted_current] || @highlights[:posted_after_current]) %>
      <td class="value"><%= highlight.created_at.strftime("%Y-%m-%d") if highlight %></td>
      <td><span>Overall % Complete</span></td>
      <td class="value"><%=  %></td>
    </tr>
    
    <tr>
      <td class="sched_color"><span>Schedule</span></td>
      <td class="value sched_color"><%= %></td>
      <td class="<%= display_by_billing_model.eql?("billability") ? "billability_color #{@code}" : "cost_color"%>"><span><%= display_by_billing_model.eql?("billability") ? "Billability" : "Cost" %></span></td>
      <td class="<%= display_by_billing_model.eql?("billability") ? "value billability_color #{@code}" : "value cost_color" %>"><%= %></td>
      <td class="<%= risk_color = risk_rating_color_code(risk_rating=compute_risk_average(@project)) %>"><span>Risk</span></td>
      <td class="value <%= risk_color %>"><%= risk_rating %></td>
      <td class="<%= issue_color = issue_impact_color_coding((issues_score=display_issues_average).to_f) %>"><span>Issue</span></td>
      <td class="value <%= issue_color %>"><%= issues_score %></td>
      <% @dev_project = @project %>
      <td class="<%= status_color %>"><span>Efficiency</span></td>
      <% efficiency_status = number_with_precision(status, :precision => 2) %>
      <td class="value <%= status_color %>"><%= "#{efficiency_status}%" %></td>
      <td class="<%= @contract_status_color_code %>"><span>Contract</span></td>
      <td class="value <%= @contract_status_color_code %>"><%= @contract_status %></td>
    </tr>
  </table>
</div>

<div class="zero_wrap">
  <div class="singleCol">
    <div id='highlights_summary'>
      <%= render :partial => 'highlights/dashboard' %>
    </div>
    <div class="box">
      <h3><%=l(:label_dashboard_sprint)%></h3>
      <p style="display: none" id="current_sprint_label"></p>
      <div id="jchart" style="display: none; "></div>
      <div id="show_burndown_chart">
      <% form_remote_tag(:url => {:action => 'load_chart', :chart => 'burndown_chart'}) do %>
        <%= submit_tag "Show Graph", :class => 'btn_show_chart', :onclick => "this.value = 'Loading...'; $('jchart').show();" %>
      <% end %>
      </div>
    </div>
  </div>
  
  <% unless @client %>
  <div class="singleCol">
    <%= render :partial => "load_fixed_cost" if display_by_billing_model.eql?("fixed")%>
    <%= render :partial => "load_billability" unless @project.billing_model.blank? %>
    
    <div class="box">
      <h3>Time Logging as of Last Week (% Complete)</h3>
      <div id="utilization_chart"></div>
      <%= render :partial => "charts/resource_utilization_chart" %>
    </div>
  </div>
  <% end %>
  
  <div class="singleCol">
    <div class="box">
      <h3><%=l(:label_dashboard_milestones)%></h3>
      <div class="scrolled_table_container">
      <table id="pm_dashboard_milestones" class="list issues" style="text-align: center;">
	      <tr>
	        <th class="phase"><%= l(:label_phases_stages) %></th>
	        <th class="orig_date"><%= l(:label_orig_target_date) %></th>
	        <th class="effect_date"><%= l(:label_latest_replan_date) %></th>
	        <th class="state"><%= l(:label_schedule_status) %></th>
	      </tr>
	      <% @milestones.each do |milestone| %>
		    <tr class="<%= cycle('even2', 'odd2') %>">
	        <td class="left phase"><em><%= milestone.name %></em></td>
	        <td class="orig_date"><%= milestone.original_end_date %></td>
	        <td class="effect_date"><%= milestone.effective_date %></td>
	        <td class="state"><%= Version::STATES.fetch(milestone.state, "") if milestone.state %></td>
	      </tr>
	      <% end %>
      </table>
      </div>
    </div>
    
    <div class="box">
      <h3><%=l(:label_dashboard_risks)%></h3>
      <ul>
      <% for risk in @key_risks %>
        <li class="<%= risk_rating_color_code(risk.final_risk_rating)%>"><strong><%= link_to risk.ref_number, {:controller => 'risks', :action => 'show', :id => risk.id, :project_id => risk.project.identifier}, :class => "#{risk_rating_color_code(risk.final_risk_rating)}" %></strong> - <%= risk.risk_description %></li>
      <% end %>
      </ul>
    </div>
    
    <% unless @key_issues.blank? %>
    <div class="box">
      <h3><%=l(:label_dashboard_issues)%></h3>
      <ul>
      <% for issue in @key_issues %>
        <li class="<%= issue_impact_color_coding(issue.impact)%>"><strong><%= link_to issue.ref_number, {:controller => 'pm_dashboard_issues', :action => 'show', :id => issue.id, :project_id => issue.project.identifier}, :class => "#{issue_impact_color_coding(issue.impact)}" %></strong> - <%= issue.issue_description %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </div>

</div>

<script type="text/javascript">
    var sched_color = "<%= scode = schedule_color_code %>";
    jQuery(".value.sched_color").text("<%= cost_color_code_label(scode) %>");
    <% if display_by_billing_model.eql?("billability") %>
      jQuery(".value.billability_color").text("<%= "%.2f" % @bill %> %");
    <% end %>
    jQuery(".sched_color").addClass(sched_color);
</script>


