<h2><%= l(:label_pm_issue_update) %></h2>

<% labelled_tabular_form_for  :issue, @issue,
                                                       :url => {:controller => 'pm_dashboard_issues', :action => 'edit', :project_id => @project},
                                                       :html => {:id => 'issue-form'} do |f| %>
  <%= error_messages_for 'issue' %>
  <p> <%= f.text_area :issue_description,
                       :required => true,
                       :cols => 20,
                       :rows => (@issue.issue_description.blank? ? 3 : [[3, @issue.issue_description.length / 15].max, 30].min),
                       :accesskey => accesskey(:edit),
                       :class => 'wiki-edit' %></p>
  <p><%= f.text_area :action, :rows => 7, :cols => 35, :class=> 'wiki-edit' %></p>

  <div class="attributes">

    <div class="splitcontentleft">
      <p><%= f.select :env, (PmDashboardIssue::ENV.keys.collect {|r| [l(PmDashboardIssue::ENV[r][:name]), r]}), :required => true%></p>
      <p><%= f.select :impact, (PmDashboardIssue::IMPACT.keys.collect {|r| [l(PmDashboardIssue::IMPACT[r][:name]), r]}), :required => true %></p>
      <p><%= f.select :raised_by, (@project.members.collect {|p| [p.name, p.user.id]}), :required => true %></p>
      <p><%= f.select :owner, (@project.members.collect {|p| [p.name, p.user.id]}), :required => true, :include_blank => true %></p>
      <p><%= f.check_box :key_issue %></p>
    </div>

    <div class="splitcontentright">
      <p><%= f.text_field :created_on, :size => 10, :required => true %><%= calendar_for('issue_created_on') %></p>
      <p><%= f.text_field :date_due, :size => 10 %><%= calendar_for('issue_date_due') %></p>
      <p><%= f.text_field :days_overdue, :value => @issue.days_overdue, :size => 3, :readonly => true %></p>
      <p><%= f.text_field :date_close, :size => 10 %><%= calendar_for('issue_date_close') %></p>
    </div>

    <div style="clear:both;"> </div>

  </div>

<hr />

<p>
  <div class="splitcontentleft">
    <%= render :partial => 'pm_dashboard_issues/risks', :locals => {:f => f} %>
  </div>
  <div class="splitcontentright">
    <%= render :partial => 'pm_dashboard_issues/assumptions', :locals => {:f => f} %>
  </div>
</p>

  <%= submit_tag l(:button_save), :onclick => "selectAllOptions('selected_risks');selectAllOptions('selected_assumptions')" %>
  <%= link_to 'Cancel', :controller => 'pm_dashboard_issues', :action => 'index', :project_id => @project %>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'pm_dashboard', :plugin => 'pm_dashboard'  %>
  <%= javascript_include_tag 'select_list_move' %>
  <%= stylesheet_link_tag 'pm_dashboard', :plugin => 'pm_dashboard' %>
<% end %>

