<script type="text/javascript">
  jQuery("document").ready(function(){
    if(<%= @version.version_type.to_json %> != null) validatedatesinput('<%= @version.started_date %>', <%= @version.version_type.to_json %>);
  });
</script>
<table class="box" align="center" style="width:500px">
	<tr>
		<th>Version Name:</th>
		<td><em><%= f.text_field :name %></em></td>
	</tr>
	<tr>
		<th>Description:</th>
		<td><%= f.text_area :description, :rows => 3 %></td>
	</tr>
	<tr>
		<th><b>Wiki Page:</b></th>
		<td><%= f.text_field :wiki_page_title %></td>
	</tr>
	<tr>
		<th>Original Start Date:</th>
    <td><%= f.text_field :original_start_date, :size => 10 %><%= calendar_for('version_original_start_date') %></td>
  </tr>
  <tr>
		<th>Original End Date:</th>
    <td><%= f.text_field :original_end_date, :size => 10 %><%= calendar_for('version_original_end_date') %></td>
  </tr>
  <tr>
  	<th>Start Date:</th>
    <td><%= f.text_field :started_date, :size => 10 %><%= calendar_for('version_started_date') %></td>
  </tr>
  <tr>
  	<th>End Date:</th>
    <td><%= f.text_field :effective_date, :size => 10, :onchange => "validatedatesonchange(jQuery('input:checked').val())" %>
    <%= calendar_for('version_effective_date') %></td>
  </tr>
  <tr>
  	<th>Choose Version Type:</th>
  	<td>
  		<div>
  		  <% Milestone::VERSIONS.each do |k,v| %>
  		    <%= f.radio_button :version_type, v, :onchange => "validatedatesinput('#{@version.started_date}', #{v});" %><%= k %><br>
  			<% end %>
  		</div>
  	</td>
  </tr>
  <tr>
  	<th>State:</th>
  	<td>
  		<div>
  			<%= select("version", "state", Milestone::STATES) %>
  		</div>
  	</td>
  </tr>
  <tr>
    <th>Remarks:</th>
    <td><%= f.text_area :remarks, :rows => 3 %></td>
  </tr>
</table>
	<div>
		<%= f.submit button_label %>
		<%= link_to "Cancel", :controller => "milestone_plans", :project_id => @project%>
	</div>
</p>

